<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EthniCal</title>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/dist/tippy.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ical.js@1.4.0/build/ical.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        #calendar { margin-top: 20px; }
        select { font-size: 16px; padding: 5px; margin-right: 10px; width: 300px; }
        #aboutButton { margin-left: 10px; }
        #aboutInfo {
            display: none;
            background-color: #f0f0f0;
            border: 1px solid #ddd;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            font-size: 14px;
        }
        #controls { margin-bottom: 20px; }
    </style>
</head>
<body>
    <h1>EthniCal <button id="aboutButton">About</button></h1>
    <div id="aboutInfo">
        Author: Janpreet Singh<br>
        Contact: calendar@janpreet.com<br>
        Purpose: This calendar serves as a means for inclusivity, celebrating diverse ethnic and cultural events worldwide.
    </div>
    <div id="controls">
        <select id="calendarSelect">
            <option value="all_events.ics">All Events</option>
            {{range .GroupConfigs}}
            <option value="{{.GroupName | ToLower | ReplaceSpaces}}_events.ics">{{.GroupName}}</option>
            {{range .CalendarItems}}
            <option value="{{.Name | ToLower | ReplaceSpaces}}_events.ics">{{.Name}}</option>
            {{end}}
            {{end}}
        </select>
        <a id="downloadLink" href="https://raw.githubusercontent.com/janpreet/EthniCal/main/docs/all_events.ics" download>Download ICS</a>
    </div>
    <div id="calendar"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar;
            var allEvents = [];
            var groupColors = {};

            function generateColor(str) {
                var hash = 0;
                for (var i = 0; i < str.length; i++) {
                    hash = str.charCodeAt(i) + ((hash << 5) - hash);
                }
                var color = '#';
                for (var i = 0; i < 3; i++) {
                    var value = (hash >> (i * 8)) & 0xFF;
                    color += ('00' + value.toString(16)).substr(-2);
                }
                return color;
            }

            function initCalendar() {
                if (calendar) {
                    calendar.destroy();
                }

                calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    eventDidMount: function(info) {
                        tippy(info.el, {
                            content: info.event.extendedProps.description || info.event.title,
                            placement: 'top',
                            arrow: true,
                            theme: 'light-border'
                        });
                    },
                    eventContent: function(arg) {
                        return {
                            html: '<div class="fc-event-main">' +
                                  '<div class="fc-event-title">' + arg.event.title + '</div>' +
                                  '</div>'
                        };
                    },
                    events: function(info, successCallback, failureCallback) {
                        var selectedFile = document.getElementById('calendarSelect').value;
                        fetch('https://raw.githubusercontent.com/janpreet/EthniCal/main/docs/' + selectedFile)
                            .then(response => response.text())
                            .then(data => {
                                var jcalData = ICAL.parse(data);
                                var comp = new ICAL.Component(jcalData);
                                var vevents = comp.getAllSubcomponents('vevent');
                                allEvents = vevents.map(vevent => {
                                    var event = new ICAL.Event(vevent);
                                    var endDate = event.endDate.toJSDate();
                                    endDate.setDate(endDate.getDate() - 1);
                                    var group = event.description.split('(')[1].split(')')[0];
                                    if (!groupColors[group]) {
                                        groupColors[group] = generateColor(group);
                                    }
                                    return {
                                        title: event.summary,
                                        start: event.startDate.toJSDate(),
                                        end: endDate,
                                        allDay: true,
                                        backgroundColor: groupColors[group],
                                        borderColor: groupColors[group],
                                        extendedProps: {
                                            description: event.description || event.summary,
                                            group: group
                                        }
                                    };
                                });
                                successCallback(allEvents);
                            })
                            .catch(error => {
                                console.error('Error fetching calendar data:', error);
                                failureCallback(error);
                            });
                    }
                });
                calendar.render();
            }

            initCalendar();

            $('#calendarSelect').select2({
                placeholder: 'Select or search for events',
                allowClear: true
            });

            $('#calendarSelect').on('change', function() {
                var selectedFile = this.value;
                document.getElementById('downloadLink').href = 'https://raw.githubusercontent.com/janpreet/EthniCal/main/docs/' + selectedFile;
                initCalendar();
            });

            var aboutButton = document.getElementById('aboutButton');
            var aboutInfo = document.getElementById('aboutInfo');
            var aboutTimeout;

            aboutButton.addEventListener('click', function() {
                if (aboutInfo.style.display === 'none' || aboutInfo.style.display === '') {
                    aboutInfo.style.display = 'block';
                    clearTimeout(aboutTimeout);
                    aboutTimeout = setTimeout(function() {
                        aboutInfo.style.display = 'none';
                    }, 300000);
                } else {
                    aboutInfo.style.display = 'none';
                    clearTimeout(aboutTimeout);
                }
            });
        });
    </script>
</body>
</html>