<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Calendar</title>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ical.js@1.4.0/build/ical.min.js"></script>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        #calendar { margin-top: 20px; }
        select { font-size: 16px; padding: 5px; }
    </style>
</head>
<body>
    <h1>EthniCal</h1>
    <select id="calendarSelect">
        <option value="all_events.ics">All Events</option>
        {{range .GroupConfigs}}
        <option value="{{.GroupName | ToLower | ReplaceSpaces}}_events.ics">{{.GroupName}}</option>
        {{range .CalendarItems}}
        <option value="{{.Name | ToLower | ReplaceSpaces}}_events.ics">{{.Name}}</option>
        {{end}}
        {{end}}
    </select>
    <div id="calendar"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: function(info, successCallback, failureCallback) {
                    var selectedFile = document.getElementById('calendarSelect').value;
                    fetch(selectedFile)
                        .then(response => response.text())
                        .then(data => {
                            var jcalData = ICAL.parse(data);
                            var comp = new ICAL.Component(jcalData);
                            var vevents = comp.getAllSubcomponents('vevent');
                            var events = vevents.map(vevent => {
                                var event = new ICAL.Event(vevent);
                                return {
                                    title: event.summary,
                                    start: event.startDate.toJSDate(),
                                    allDay: true
                                };
                            });
                            successCallback(events);
                        })
                        .catch(error => {
                            console.error('Error fetching calendar data:', error);
                            failureCallback(error);
                        });
                }
            });
            calendar.render();

            document.getElementById('calendarSelect').addEventListener('change', function() {
                calendar.refetchEvents();
            });
        });
    </script>
</body>
</html>